.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    box-shadow: 0 2px 8px #f0f1f2;
}

.HeaderLogo img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .HeaderLogo img {
        animation: App-logo-spin infinite 20s linear;
    }
}